<script src="https://cdn.tailwindcss.com"></script>

<div class="h-16 bg-gray-200 flex justify-between p-4">
    <div class=" inline-block align-baseline self-center">
        mentions légales
    </div>    
    <div class=" inline-block align-baseline self-center">
        site crée par Arthur Brouchon en Septembre 2022
    </div> 
</div>
</div>